<h2>Howdy there, partner!</h2>


<p>My name is Hasimy Md, a Junior Back-End Developer at <a href="https://telkom.co.id/sites/about-telkom/en_US/page/profile-and-brief-history-24" target="_blank">Telkom Indonesia</a>, and stationed in the <a href="https://agreeculture.id" target="_blank">Tribe of Agriculture</a>.</p>
<h3>As of now I code with:</h3>
<p>
  <a href="https://www.npmjs.com"><img alt="npm" src="https://img.shields.io/badge/-NPM-CB3837?style=flat-square&logo=npm&logoColor=white" /></a>
  <a href="https://www.npmjs.com/package/nodemon"><img alt="Nodemon" src="https://img.shields.io/badge/-Nodemon-76D04B?style=flat-square&logo=nodemon&logoColor=white" /></a>
  <a href="http://restify.com"><img alt="Node.js With Restify" src="https://img.shields.io/badge/-Node.js%20With%20Restify-43853d?style=flat-square&logo=Node.js&logoColor=white" /></a>
  <a href="https://www.expressjs.com"><img alt="Express.js" src="https://img.shields.io/badge/-Express.js-000000?style=flat-square&logo=express&logoColor=white" /></a>
  <a href="https://www.mongodb.com"><img alt="MongoDB" src="https://img.shields.io/badge/-MongoDB-13aa52?style=flat-square&logo=mongodb&logoColor=white" /></a>
  <a href="https://www.prettier.io"><img alt="Prettier" src="https://img.shields.io/badge/-Prettier-F7B93E?style=flat-square&logo=prettier&logoColor=white" /></a>
  <a href="https://www.docker.com"><img alt="Docker" src="https://img.shields.io/badge/-Docker-46a2f1?style=flat-square&logo=docker&logoColor=white" /></a><br />
  <a href="https://www.github.com/features/actions"><img alt="Github Actions" src="https://img.shields.io/badge/-Github_Actions-2088FF?style=flat-square&logo=github-actions&logoColor=white" /></a>
  <a href="https://www.typescriptlang.org"><img alt="TypeScript" src="https://img.shields.io/badge/-TypeScript-007ACC?style=flat-square&logo=typescript&logoColor=white" /></a>
  <a href="https://www.npmjs.com/package/ts-node"><img alt="TS-Node" src="https://img.shields.io/badge/-TypeScript%20Node-3178C6?style=flat-square&logo=ts-node&logoColor=white" /></a>
  <a href="https://www.heroku.com"><img alt="Heroku" src="https://img.shields.io/badge/-Heroku-430098?style=flat-square&logo=heroku&logoColor=white" />
  <a href="https://www.git-scm.com"><img alt="Git" src="https://img.shields.io/badge/-Git-F05032?style=flat-square&logo=git&logoColor=white" /></a>
  <a href="https://www.elastic.co/"><img alt="Elasticsearch" src="https://img.shields.io/badge/-Elasticsearch-yellow?style=flat-square&logo=Elasticsearch" /></a>
  <a href="https://www.aol.com"><img alt="AOL (America Online)" src="https://img.shields.io/badge/-AOL-3399FF?style=flat-square&logo=aol&logoColor=white" /></a>
  
</p>
<h3>#TemanBertumbuhBersama <img src="https://www.flaticon.com/svg/static/icons/svg/843/843298.svg" width="13"/></h3>
<p><img width="200" src="{{img1}}" /> <img width="200" src="{{img2}}" /> <img width="200" src="{{img3}}" /></p>
<p>Above are the last 3 pictures posted by Agree on <a href="https://www.instagram.com/agreeculture.id/" target="_blank">@agreeculture.id!</a><br/>Collaboration Digital Platform for the Agriculture Industry 4.0 by Telkom Indonesia.</a><br/><br/>Currently, the weather is at <b> {{city_temperature}}°C, and it's <i>{{city_weather}}</i></b>.</br>Today, the sun will rise at <b>{{sun_rise}}</b> and sets at <b>{{sun_set}}</b>, Western Indonesian Time.</p>
<h3>Social Medias:</h3>
<p><a href="https://instagram.com/hasimy.md" target="_blank"><img alt="Instagram" src="https://img.shields.io/badge/Instagram-%2312100E.svg?&style=for-the-badge&logo=Instagram&logoColor=white" /></a> <a href="https://www.linkedin.com/in/hasimy-as/" target="_blank"><img alt="LinkedIn" src="https://img.shields.io/badge/linkedin-%2312100E.svg?&style=for-the-badge&logo=linkedin&logoColor=white" /></a> <a href="https://wa.me/6281233810366" target="_blank"><img alt="WA Business" src="https://img.shields.io/badge/WA Business-%2312100E.svg?&style=for-the-badge&logo=Whatsapp&logoColor=white" /></a>
</p>

------------
<p align="center">This README file will be updated to keep up with <a href="https://www.instagram.com/agreeculture.id/" target="_blank">@agreeculture.id</a>'s posts!</br>Last updated at: {{refresh_date}}<br /></p>
<p align="center"><img src="https://github.com/hasimy-as/hasimy-as/workflows/README%20build/badge.svg" /></p>
